html, body {
    margin: 0;
    height: 100%;
    background-color:#f8f9fa;
    overflow-y: auto;
}

.content {
    background-color:#f8f9faed;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    margin: 0px;
    padding: 10px;
    font-family:'Open Sans', sans-serif;
}

.name {
    font-family:'Roboto',sans-serif;
    margin-bottom: 2px;
}

.subtitle {
    text-align: center;
}

.social-links a {
    text-decoration: none;
    padding: 4px;
}

.social-links a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left, .right {
    margin: 5px;
    max-width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left {
    align-items: center;
    justify-content: center;
}

.profile-picture {
    border-radius:20%
}


.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px,2px;
    background: transparent;
    color: gray;
}

.fa:hover {
    opacity: 0.7;
    color: black;
}

/*
Contact
*/

.contact form {
    margin-top: 0px;
    padding: 0px 30px;
    align-items: stretch;
}

.contact h3 {
    color: black;
    text-align: center;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact p {
    margin: 0 0px 10px;
    margin-left: 0px!important;
}

.contact label{
    display: none;
}

.contact input {
    width: 100%;
    border: none;
    border: 1px solid #dddddd78;
    padding: 10px;
    border-radius: 4px;
}

.contact textarea#message {
    width: 100%;
    height: 122px;
    border 1px solid #dddddd78;
    border-radius: 4px;
    padding: 10px;
}

.contact input#submit {
    color: white;
    background: linear-gradient(0.25turn, #2a78ca, #71a1d4);
    floar: right;
    border: none;
    border-radius: 4px;
    padding: 15px 23px;
    box-shadow: 0px 0px 4px 0px #000000087;
    margin-top: 15px;
}

/*
Footer
*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: #f8f9fa;
    color: black;
}