body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav{
    overflow: hidden;
    background-color: lightgray;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: lightblue;
    color: black;
}

.topnav a.active{
    background-color: darkcyan;
    color:white;
}

.genric-btn.primary-border {
    color: #8490ff;
    border: 1px solid #8490ff;
    background: #8490ff;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 10px;
}

.content {
    margin: 10px;
    text-align: center;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: lightgray;
    color: black;
}