{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block content %}
<div class="row justify-content-center bio">
    <div class="col-sm-5 col-11 text-center my-auto">
        <span class="align-middle">
            <h1>About me</h1>
            <!-- short bio -->
            <p>
                I am <strong>Ricardo Saca</strong>, a <i>curious, critical thinker</i> with a passion for learning and data analytics.
                I apply my analytical skills and curiosity to grow my understanding of our complex world.
                I have taught myself how to code via college courses, medium tutorials, trial and error, and plenty of googling/Stack Overflow. 
                Below I list some of my education journey, memorable experiences, and skills I have acquired.
            </p>
            <p>
                For more information, take a look at <a href="{{ url_for('static', filename='documents/Ricardo_Saca.pdf')}}">my Resume</a>.
            </p>
        </span>
    </div>
    <div class='col-sm-5 col-11'>
            <img class="img-fluid profile"
                src="{{url_for('static',filename='img/grad.jpg')}}"
                alt="Picture of Ricardo Saca">
    </div>
    </div>
    <br>
    <hr class="d-sm-none d-none"/>
</div>

<div class="row justify-content-center mt-2 mb-4">
    <div class="col-11">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Education
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne">
                    <div class="accordion-body">
                        <ul class="list-inline">
                            <li>
                                <b>MBA with a certificate in Business Analytics</b>
                                <br><i>Providence College</i>, 2021. (GPA: 3.91/4.00)
                            </li>
                            <li>
                                <b>Bachelor's degree in Finance with a minor in Computer Science</b>
                                <br><i>Providence College</i>, 2020. (GPA: 3.63/4.00)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Experience
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo">
                    <div class="accordion-body">
                        <ul class="list-inline">
                            <li>
                                <b>Blue Cross Blue Shield Consulting Project</b>
                                <br><i>Providence College</i> | Spring 2021.
                                <p>In this project we used various data analytics techniques to analyze ten data set of healthcare customer data with the goal of identifying patiens who would be best suited to utilize a smartwatch.
                                    <a href="https://business.providence.edu/2021/08/25/bcbsri-project/">News Story</a>.
                                </p>
                            </li>
                            <li>
                                <b>Financial Research Intern</b>
                                <br><i><a href="https://www.intellext.ai/">IntelleXt</a></i> | Febraury 2021 - July 2021
                                <p>During my internship, I performed financial research on term dependencies and conducted market research to improve the tailoring of the firm’s product to its customers. I also created a <a href="https://github.com/RicardoSaca/scraper">python web scraper</a> to automate client data extraction for the development of buyer personas.</p>
                            </li>
                            <li>
                                <b>Citizens Bank Consulting Project</b>
                                <br><i>Providence College</i> | Fall 2020.
                                <p>Utilized data analytics techniques on human resources data to identify firm's top talent. Based on our analysis, we suggested strategies to retain top talent.
                                    <a href="https://business.providence.edu/2021/01/22/pc-business-analytics-class-presents-to-citizens-on-real-world-project/">News Story.</a>
                                </p>
                            </li>
                            <li>
                                <b>MBA 651 - Marketing Management</b>
                                <br><i>Providence College</i> | Spring 2021.
                                <p>Course taught by <a href="https://www.linkedin.com/in/markdefanti/">Mark Defanti</a>. This class was one of the most demanding courses I have taken; however, it taught me how to think and apply class concept. It also challenged me beyond my limits to think critically in our Emerging Career Assignment.</p>
                            </li>
                            <li>
                                <b>Graduate Field Technician</b>
                                <br><i>Providence College Helpdesk</i> | August 2020 - July 2021
                                <p>
                                    During my graduate assistantship, I completed device set up for staff and faculty, including imaging, updating, and software installation. I resolved technological issues for staff and faculty via tickets with intentional guidance and personalized solutions. I also created and managed the technology transition process for faculty and staff, which included coordination with supervisors.
                                </p>
                            </li>
                            <li>
                                <b>Student Leader</b>
                                <br><i>Providnece College Peer Ministry</i> | 2018-2020
                                <p>
                                    As a student leader, I facilitated small group discussions about complex questions and contemporary issues with peers, counseled peers through life problems by providing strategies to implement better life decisions and habits, and provided a safe environment using intentional listening during group discussions and one-on-one assistance.
                                </p>
                            </li>
                            <li>
                                <b>Helpdesk Consultant</b>
                                <br><i>Providence College Helpdesk</i> | August 2017 - May 2020
                                <p>
                                    I guided faculty, staff, and students through their technological issues. To quickly solve problems, I learned the troubleshooting protocols and organization structure. In this time, I developed my communication skills and patience in phone calls.
                                </p>
                            </li>
                            <li>
                                <b>Financial Analyst Intern</b>
                                <br><i>Factoraje Pentagono</i> | May 2017 - August 2017 | May 2019 - July 2019
                                <p>
                                    I audited various corporate financial merits to summarize key data metrics and aided potential client screening. I then assisted with recommending clients for approved funding at Board of Directors level meetings. I also created Excel worksheets using VBA and recommended modifications to facilitate the evaluation of client data.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header justify-content-center" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Skills
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree">
                    <ul class="list-inline">
                        <div class="accordion-body">
                            <div class="d-flex flex-row  align-content-between flex-wrap justify-content-around">
                                <div class="p-2 m-2 d-inline-flex">
                                    <li><b>Languages:</b>
                                        <ul class="sublist">
                                            <li>Spanish - Native</li>
                                            <li>English - Fluent</li>
                                        </ul>
                                    </li>
                                </div>
                                <div class="p-2 m-2 d-inline-flex">
                                    <li><b>Programming/Software:</b>
                                        <ul class="sublist">
                                            <li>Excel (5yrs)</li>
                                            <li>Python (>3yrs)</li>
                                            <li>SQL (3yrs)</li>
                                            <li>Tableau (2yrs) </li>
                                            <li>HTML/CSS (2yrs)</li>
                                            <li>Git (~1yr)</li>
                                            <li>Heroku (~1yr)</li>
                                        </ul>
                                    </li>
                                </div>
                                <div class="p-2 m-2 d-inline-flex">
                                    <li><b>Business Concepts:</b>
                                        <ul class="sublist">
                                            <li>Financial Modeling</li>
                                            <li>Management Strategy</li>
                                            <li>Financial Statements</li>
                                        </ul>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
{% endblock %}