{% extends 'base.html' %}

{% block title %} Bookshelf {% endblock %}

{% block content %}
<div class="row justify-content-center bio">
    <div class="col-sm-10 text-center">
        <h1>My Personal Bookshelf</h1>
        <p>
            Here are some of the books I have read that have assisted my intellectual growth.
            There is also a wish list of the books I am planning on reading soon. Reach out if you have any recommendations!
        </p>
        <p>
            Take a look at some <a href={{url_for('main.analytics')}}>anayltics of my reading habit growth</a>.
        </p>
    </div>
</div>


{% if books %}
<div class="container fluid mt-3 mb-5">
    <div class="col text-center">
        <h2><a href="#reading" class="link-dark text-decoration-none" data-bs-toggle="collapse">Reading</a></h2>
        <hr>
    </div>
    <div id="reading" class="row row-cols-1 row-cols-md-3 collapse show g-3 justify-content-center">
        {% for book in books %}
            {% if book.progress == 'Progress' %}
        <div class="col mb-3">
            <div class="card h-100" style="max-width: 540px;">
                <div class="row g-0 h-100">
                    <div class="col-md-4 cover">
                        <img src="https://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg"
                                class="img-fluid rounded-right" alt="Cover of {{book.title}}">
                                <div class="card-img-overlay px-0 py-0 w-25 h-50">
                                    <i class="fas fa-hourglass-half fa-books pt-3 pb-0 ps-3 pe-0 h-100" aria-hidden="true"></i>
                                </div>
                    </div>
                    <div class="col-md-8 description">
                        <div class="card-body">
                            <h5 class="card-title">{{book.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
                            <p class="card-text">{{book.notes}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="container fluid mt-3 mb-5">
    <div class="col text-center">
        <h2><a href="#paused" class="link-dark text-decoration-none" data-bs-toggle="collapse">Paused</a></h2>
        <hr>
    </div>
    <div id="paused" class="row row-cols-1 row-cols-md-3 collapse show g-3 justify-content-center">
        {% for book in books %}
            {% if book.progress == 'Paused' %}
        <div class="col mb-3">
            <div class="card h-100" style="max-width: 540px;">
                <div class="row g-0 h-100">
                    <div class="col-md-4 cover">
                        <img src="https://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg"
                                class="img-fluid rounded-right" alt="Cover of {{book.title}}">
                                <div class="card-img-overlay px-0 py-0 w-25 h-50">
                                    <i class="fas fa-hourglass-half fa-books pt-3 pb-0 ps-3 pe-0 h-100" aria-hidden="true"></i>
                                </div>
                    </div>
                    <div class="col-md-8 description">
                        <div class="card-body">
                            <h5 class="card-title">{{book.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
                            <p class="card-text">{{book.notes}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="container fluid mt-3 mb-5">
    <div class="col text-center">
        <h2><a href="#wishlist" class="link-dark text-decoration-none" data-bs-toggle="collapse">Wishlist</a></h2>
        <hr>
    </div>
    <div id="wishlist" class="row collapse row-cols-1 row-cols-md-3 g-2 justify-content-center">
        {% for book in books %}
            {% if book.progress == 'Wish' %}
        <div class="col mb-3">
            <div class="card h-100" style="max-width: 540px;">
                <div class="row g-0 h-100">
                    <div class="col-md-4 cover">
                        <img src="https://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg"
                        class="img-fluid rounded-start" alt="Cover of {{book.title}}">
                            <div class="card-img-overlay px-0 py-0 w-25 h-50">
                                <i class="fas fa-hourglass-start fa-books pt-3 pb-0 ps-3 pe-0 h-100" aria-hidden="true"></i>
                            </div>
                    </div>
                    <div class="col-md-8 description">
                        <div class="card-body">
                            <h5 class="card-title">{{book.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
                            <p class="card-text">{{book.notes}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% if years %}
    {% for year in years %}
<div class="container fluid mt-3 mb-5">
    <div class="col text-center">
        <h2><a href="#read-{{ year }}" class="link-dark text-decoration-none" data-bs-toggle="collapse">{{year}}</a></h2>
        <hr>
    </div>
    <div id="read-{{year}}" class="row collapse show row-cols-1 row-cols-md-3 g-2 justify-content-center">
        {% for book in books %}
            {% if (book.progress == 'Read' or book.progress == 'Favorite') and (book.date_finished.strftime('%Y') == year)%}
            <div class="col mb-3">
                <div class="card h-100" style="max-width: 540px;">
                    <div class="row g-0 h-100">
                        <div class="col-sm-12 col-md-4 cover ">
                            <img src="https://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg"
                                    class="img-fluid rounded-start" alt="Cover of {{book.title}}">
                                    <div class="card-img-overlay px-0 py-0 w-25 h-50">
                                        {% if book.progress == 'Favorite' %}
                                        <i class="fas fa-star fa-books pt-3 pb-0 ps-3 pe-0 h-100" aria-hidden="true"></i>
                                        {% endif %}
                                        {% if book.progress == 'Read' %}
                                        <i class='fas fa-book fa-books pt-3 pb-0 ps-3 pe-0 h-100' aria-hidden="true"></i>
                                        {% endif %}
                                    </div>
                        </div>
                        <div class="col-sm-12 col-md-8 description">
                            <div class="card-body">
                                <h5 class="card-title">{{book.title}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
                                {% if book.notes %}
                                <a href="#notes-{{book.id}}" class="btn btn-primary" data-bs-toggle="collapse">Notes</a>
                                <div id="notes-{{book.id}}" class="collapse">
                                        <p class="card-text mt-3">{{book.notes}}</p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
    {% endfor %}

{% endif %}
{% endif %}
{% endblock %}

<!-- icons
    fas fa-book : book
    fas fa-star : favorite
    fas fa-hourglass-half : reading
    fas fa-hourglass-start : wish
-->

