{% extends 'base.html' %}

{% block title %} Bookshelf {% endblock %}

{% block content %}
<div class="row justify-content-center bio">
    <div class="col-sm-10 text-center">
        <h1>My Personal Bookshelf</h1>
        <p>
            Here are some of the books I have read that have assisted my intellectual growth.
            There is also a wish list of the books I am planning on reading soon. Reach out if you have any recommendations!
        </p>
    </div>
</div>


{% if books %}
<div class="row justify-content-center mt-3">
    <div class="col-sm-8 text-center">
        <h2>Reading</h2>
        <ul class="list-group list-group-flush">
            {% for book in books %}
                {% if book.progress == 'Progress' %}
                <li class="list-group-item">
                    <div>
                        <i class="fas fa-hourglass-half" aria-hidden="true"></i><span class="title">{{book.name}}</span>, {{book.author}}
                    </div>
                </li>
                {% endif %}
            {% endfor %}
            <li class="list-group-item"></li>
        </ul>
    </div>
</div>

<div class="row justify-content-center mt-3">
    <div class="col-sm-8 text-center">
        <h2>Wishlist</h2>
        <ul class="list-group list-group-flush">
            {% for book in books %}
                {% if book.progress == 'Wish'%}
                <li class="list-group-item">
                    <div>
                        <i class="fas fa-hourglass-start" aria-hidden="true"></i>
                        <span class="title">{{book.name}}</span>, {{book.author}}
                    </div>
                </li>
                {% endif %}
            {% endfor %}
            <li class="list-group-item"></li>
        </ul>
    </div>
</div>

    {% if years %}
        {% for year in years %}
        <div class="row justify-content-center mt-3">
            <div class="col-sm-8 text-center">
                <h2>{{ year }}</h2>
                <ul class="list-group list-group-flush">
                    {% for book in books %}
                        {% if (book.progress == 'Read' or book.progress == 'Favorite') and (book.date_finished.strftime('%Y') == year)%}
                        <li class="list-group-item">
                            <div>
                                {% if book.progress == 'Favorite' %}
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                {% endif %}
                                {% if book.progress == 'Read' %}
                                    <i class='fas fa-book' aria-hidden="true"></i>
                                {% endif %}
                                <span class="title">{{book.name}}</span>, {{book.author}}
                                <p>{{ book.notes }}</p>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                    <li class="list-group-item"></li>
                </ul>
            </div>
        </div>
        {% endfor %}
    {% endif %}
{% endif %}

{% endblock %}

<!-- icons
    fas fa-book : book
    fas fa-star : favorite
    fas fa-hourglass-half : reading
    fas fa-hourglass-start : wish
-->