{% extends 'base.html' %}

{% block title %} Bookshelf Analytics{% endblock %}

{% block content %}
<div class="row justify-content-center bio">
    <div class="col-sm-10 text-center">
        <h1>Analytics of My Personal Bookshelf</h1>
        <p>
            Here is a Matplotlib animation that shows the trajectory of my reading habits.
            On the left, there is a line chart that depicts the number of books read each month since 2019.
            On the right, there is a total of the books I read each year.
            You can also notice that I have surpassed my reading goal for 2021.
        </p>
    </div>
</div>

<div class="ratio ratio-16x9">
    {% block animation %}

    {% endblock %}
</div>


{% endblock %}


<!-- icons
    fas fa-book : book
    fas fa-star : favorite
    fas fa-hourglass-half : reading
    fas fa-hourglass-start : wish
-->