{% extends 'base.html' %}

{% block title %} Contact Me {% endblock %}

{% block content %}
<div class="row justify-content-center bio">
    <div class="col-sm-6 col-11 text-center contact">
        <h3>Contact me</h3>
        <h6>Please fill out this form to contact me.</h6>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-6 col-11 justify-content-center contact">
        {% if success %}
        <p class='success'>Thank you for reaching out! I'll get back to you shortly.</p>
        {% else %}
            {% for message in form.name.errors %}
                <div class="flash col-sm-6 col-12 text-center mt-3">{{ message }}</div>
            {% endfor %}
            {% for message in form.email.errors %}
                <div class="flash col-sm-12 col-12 text-center mt-3">{{ message }}</div>
            {% endfor %}
            {% for message in form.message.errors %}
                <div class="flash col-sm-12 col-12 text-center mt-3">{{ message }}</div>
        {% endfor %}
        <form action="{{ url_for('main.contact') }}" method=post>
            <div>
                {{ form.hidden_tag() }}
                <div class="row row-col-2 justify-content-center">
                    <div class="col-12 col-md-5">
                    <!-- name form -->
                        <p>
                            {{ form.name.label }} <br>
                            {{ form.name(placeholder='Your name')}}
                        </p>
                    </div>
                    <div class="col-12 col-md-5">
                        <!-- email form -->
                        <p>
                            {{ form.email.label }} <br>
                            {{ form.email(placeholder='Your e-mail ')}}
                        </p>
                    </div>
                    <div class="col-12 col-md-10">
                        <!-- Content of your request -->
                        <p>
                            {{ form.message.label }} <br>
                            {{ form.message(placeholder='Write your request...')}}
                        </p>
                    </div>
                    <div class="col-8 col-md-4 my mx-auto">
                        <!-- Submit button -->
                        <p>
                            {{ form.submit }}
                        </p>
                    </div>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}