{% extends 'base.html' %}

{% block title %} Coming soon {% endblock %}

{% block content %}
    <div class="row justify-content-center bio">
        <div class="col-sm-10  text-start align-self-center">
            <h1> There seemed to be an error.</h1>
            <p>Feel free to contact me on these other mediums: </p>
            <p>
                <div class="container">
                    <span class="text-muted">
                        <p>
                            <a href="mailto:ricardosaca@gmail.com" target="_blank" title="My email"><i class="far fa-envelope"></i></a>
                            <a href="https://www.linkedin.com/in/ricardosaca/" title="Linkedin"><i class="fab fa-linkedin-in"></i></a>
                            <a class="footHome" href="{{ url_for('main.home') }}">Ricardo Saca</a>
                            <a href="https://github.com/RicardoSaca" title="Github"><i class="fab fa-github"></i></a>
                            <!-- <a href="https://twitter.com/RicardoSaca98"><i class="fab fa-twitter"></i></a> -->
                            <a href="https://public.tableau.com/app/profile/ricardo.saca" title="Tableau"><i class="fas fa-chart-line"></i></a>
                        </p>
                    </span>
                </div>
            </p>
        </div>

    </div>
{% endblock %}
