{% extends 'base.html' %}

{% block title %} Portfolio {% endblock %}

{% block content %}
<div class="row justify-content-center bio">
    <div class="col-11 text-center my-auto">
        <span class="align-middle">
            <h1>Portfolio</h1>
            <p>
                Here are some of the projects I have completed, either in my free time or during my education career.
                I am currently focusing on developing my coding skills and data analytics skills.
            </p>
        </span>
    </div>
</div>

<div class="d-flex flex-row align-content-between flex-wrap justify-content-around mt-4">
{% if projects %}
    {% for project in projects %}
    <div class="card text-center my-2" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">{{ project.pro_name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ project.pro_author }}, {{ project.pro_date.strftime('%B %Y') }}</h6>
            <p class="card-text">{{ project.pro_desc }}</p>
            {% if project.pro_link %}
            <a href="{{ project.pro_link }}" class="card-link">Code</a>
            {% endif %}
            {% if project.pro_embed  %}
            <a href="{{ url_for('main.project', projectid=project.id) }}" class="card-link">Embed</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% endif %}
</div>
{% endblock %}