{% extends 'base.html' %}

{% block title %}
    {{ pro.pro_name}}
{% endblock %}
{% block content %}
    {% if pro %}
    <div class="row justify-content-center bio">
        <div class="col-11 text-start my-auto">
            <span class="align-middle">
                <h1>{{ pro.pro_name}}</h1>
                <p>
                    <i>{{pro.pro_author}} - {{pro.pro_date.strftime('%B %Y')}}</i>
                </p>
                <p>
                    {{pro.pro_desc}}
                </p>
            </span>
        </div>
    </div>
    <div class="text-center mt-4">
        <div class="ratio ratio-16x9">
            {{ pro.pro_embed|safe }}
        </div>
    </div>
    {% endif %}
{% endblock %}